@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    justify-content: center;
    padding: 10px;

    @media (max-width: 767px) {
        display:block;
        input, button, label {
            display: flex;
            margin: $base-size auto;
            max-width: 100%;
            justify-content: center;
        }
    }
}

label {
    margin: auto $base-size;
}