@use "sass:math";
@import '../../styles/settings.scss';

.isFavoriteButton {
    background: none;
    border: 0;
    color: none;
    line-height: 1.3;
    padding: 0;
    margin: 0 ;
    border-radius: $radius;
    cursor: pointer;
    transition: $transition;
    border-color: none;

    span.isActive {
        color: $color-warning;
    }

    &.transparent {
        background: transparent;

        &:hover {
            color: darken($color-light, 20%);
        }
    }
}

